/* Count.css */
.count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    padding: 100px;
}

.count button {
    font-size: 34px;
    margin: 0 20px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: black;
    color: white;
}